body {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif; 
  background-color: #023336;
  text-align: center;

}

h2 {
  color: #4da674;
  margin-bottom: 20px; 
}

textarea {
  width: 80%;
  max-width: 600px;
  height: 100px;
  color: #023336;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px; 
}

#wordCount, #sentenceCount {
  width: 80%; 
  max-width: 600px;
  text-align: left; 
  font-size: 18px;
  color: #c1e6ba;
  margin-top: 5px;
}
