body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.flex-item {
    background-color: rgba(63, 245, 118, 0.815);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px; 
    font-weight: 500;
    width: 300px;
    height: 320px;
    white-space: pre-line;
    box-sizing: border-box;
}

i {
    font-size: 24px;
    margin-right: 10px;
}

a {
    color: rgb(230, 26, 151);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
